doctype html
html
    head 
        title Sparsh Dance Academy
        block script 
        block style
    body 
        block content
        footer#footer 
            | Copyright 2024 SparshDanceAcademy.com All rights | reserverd